extends layout

block content
  h1= title
  p Welcome to #{title}

  html
    head
      script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')
      script.
        $(function () {
          var people = [];
          $.getJSON('people.json', function (data) {
            $.each(data.person, function (i, f) {
              var tblRow = "<tr>" + "<td>" + f.firstName + "</td>" +
                      "<td>" + f.lastName + "</td>" + "<td>" + f.job + "</td>" + "<td>" + f.roll + "</td>" + "</tr>"
              $(tblRow).appendTo("#userdata tbody");
            });
          });
        });
    body
      .wrapper
        .profile
          table#userdata(border='2')
            thead
              th First Name

              th Last Name

              th Email Address

              th City

            tbody

